<a href="https://colab.research.google.com/github/ZiyadAlmatrafi/Data-science/blob/master/Python/sec6/PandasBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [2]:
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA"]

# Print out brics with new index values
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [4]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/pandas_dataframes_PY_wk2_dy1/data/cars.csv')

# Print out cars
print(cars)

  country_code  cars_per_cap        country  drives_right
0           US           809  United States          True
1          AUS           731      Australia         False
2          JAP           588          Japan         False
3           IN            18          India         False
4           RU           200         Russia          True
5          MOR            70        Morocco          True
6           EG            45          Egypt          True

In [6]:
# Import pandas and cars.csv
import pandas as pd
cars = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/pandas_dataframes_PY_wk2_dy1/data/cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars['cars_per_cap'])

# Print out country column as Pandas DataFrame
print(cars[['cars_per_cap']])

# Print out DataFrame with country and drives_right columns
print(cars[['cars_per_cap', 'country']])

country_code
US     809
AUS    731
JAP    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64
              cars_per_cap
country_code
US                     809
AUS                    731
JAP                    588
IN                      18
RU                     200
MOR                     70
EG                      45
              cars_per_cap        country
country_code
US                     809  United States
AUS                    731      Australia
JAP                    588          Japan
IN                      18          India
RU                     200         Russia
MOR                     70        Morocco
EG                      45          Egypt

In [7]:
# Import cars data
import pandas as pd
cars = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/pandas_dataframes_PY_wk2_dy1/data/cars.csv', index_col = 0)

# Print out first 4 observations
print(cars[0:4])

# Print out fifth and sixth observation
print(cars[4:6])

              cars_per_cap        country  drives_right
country_code
US                     809  United States          True
AUS                    731      Australia         False
JAP                    588          Japan         False
IN                      18          India         False
              cars_per_cap  country  drives_right
country_code
RU                     200   Russia          True
MOR                     70  Morocco          True

In [8]:
# Import cars data
import pandas as pd
cars = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/pandas_dataframes_PY_wk2_dy1/data/cars.csv', index_col = 0)

# Print out observation for Japan
print(cars.iloc[2])

# Print out observations for Australia and Egypt
print(cars.loc[['AUS', 'EG']])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
              cars_per_cap    country  drives_right
country_code
AUS                    731  Australia         False
EG                      45      Egypt          True