### In each cell complete the task using pandas

In [1]:
import pandas as pd
import numpy as np

Read in the titanic.csv file in the `~/data` directory as a pandas dataframe called **df**

Or you can also use this link: https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/module_3_Python/data/titanic.csv

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/module_3_Python/data/titanic.csv")

Display the head of the dataframe

In [5]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

What is the percentage of people who survived? (hint find the mean of the survival column)

In [38]:
df["Survived"].mean()

0.3838383838383838

How many women and how many men survived?

In [45]:
df.groupby(['Sex', 'Survived']).Survived.agg([len])

                 len
Sex    Survived
female 0          81
       1         233
male   0         468
       1         109

In [54]:
male_Survived = df.loc[(df.Survived == 1) & (df.Sex == 'male')]
len(male_Survived)

109

What is the percentage of people that survied who paid a fare less than 10?

In [85]:
df.loc[(df.Survived == 1) & (df.Fare < 10)].Fare.mean()

7.788064179104479

What is the average age of those who didn't survive?

In [71]:
df.loc[(df.Survived == 0)].Age.mean()

30.62617924528302

What is the average age of those who did survive?

In [72]:
df.loc[(df.Survived == 1)].Age.mean()

28.343689655172415

What is the average age of those who did and didn't survive grouped by gender?

In [88]:
df.groupby(['Sex', 'Survived']).Age.mean()

Sex     Survived
female  0           25.046875
        1           28.847716
male    0           31.618056
        1           27.276022
Name: Age, dtype: float64

## Tidy GDP

Manipulate the GDP.csv file and make it tidy, the result should be a pandas dataframe with the following columns:
* Country Name
* Country Code
* Year
* GDP

Get the data

In [138]:
gdp_data = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/module_3_Python/data/GDP.csv', skiprows=4)


head of the dataframe

In [139]:
gdp_data.head()

  Country Name Country Code  ...          2017 Unnamed: 62
0        Aruba          ABW  ...           NaN         NaN
1  Afghanistan          AFG  ...  2.081530e+10         NaN
2       Angola          AGO  ...  1.242094e+11         NaN
3      Albania          ALB  ...  1.303935e+10         NaN
4      Andorra          AND  ...  3.012914e+09         NaN

[5 rows x 63 columns]

Remove unwanted columns

In [140]:
gdp_data = gdp_data.drop(columns=['Indicator Name', 'Indicator Code', 'Unnamed: 62'])

Melt the DataFrame from wide to long format

In [141]:
gdp_data = gdp_data.melt(id_vars=['Country Name', 'Country Code'], var_name='Year', value_name='GDP')

Drop missing values

In [142]:
gdp_data = gdp_data.dropna()

In [143]:
gdp_data

       Country Name Country Code  Year           GDP
1       Afghanistan          AFG  1960  5.377778e+08
11        Australia          AUS  1960  1.857319e+10
12          Austria          AUT  1960  6.592694e+09
14          Burundi          BDI  1960  1.960000e+08
15          Belgium          BEL  1960  1.165872e+10
...             ...          ...   ...           ...
15306         Samoa          WSM  2017  8.566265e+08
15307        Kosovo          XKX  2017  7.128691e+09
15309  South Africa          ZAF  2017  3.494193e+11
15310        Zambia          ZMB  2017  2.580867e+10
15311      Zimbabwe          ZWE  2017  1.784582e+10

[11777 rows x 4 columns]