### Heuristic Models (Cost Function Extension)
Look at the Seattle weather in the **data** folder. Come up with a heuristic model to predict if it will rain today. Keep in mind this is a time series, which means that you only know what happened historically (before a given date). One example of a heuristic model is: It will rain tomorrow if it rained more than 1 inch (>1.0 PRCP) today. Describe your heuristic model in the next cell.

**your model here**  

Examples:  

If rained yesterday it will rain today.  
If it rained yesterday or the day before it will rain today.

In [1]:
# here is an example of how to build and populate a hurestic model

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/module_4_ML/data/seattle_weather_1948-2017.csv')

numrows = 25549 # can be as large as 25549

#create an empty dataframe to hold 100 values
heuristic_df = pd.DataFrame({'yesterday':[0.0]*numrows,
                             'today':[0.0]*numrows,
                             'tomorrow':[0.0]*numrows,
                             'guess':[False]*numrows,  # logical guess
                             'rain_tomorrow':[False]*numrows,  # historical observation
                             'correct':[False]*numrows,  # TRUE if your guess matches the historical observation
                             'true_positive':[False]*numrows,  # TRUE If you said it would rain and it did
                             'false_positive':[False]*numrows,  # TRUE If you sait id would rain and it didn't
                             'true_negative':[False]*numrows,  # TRUE if you said it wouldn't rain and it didn't
                             'false_negative':[False]*numrows})  # TRUE if you said it wouldn't raing and it did

# sort columns for convience
seq = ['yesterday',
       'today',
       'tomorrow',
       'guess',
       'rain_tomorrow',
       'correct',
       'true_positive',
       'false_positive',
       'true_negative',
       'false_negative']

heuristic_df = heuristic_df.reindex(columns=seq)

In [2]:
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [3]:
heuristic_df.head()

   yesterday  today  tomorrow  ...  false_positive  true_negative  false_negative
0        0.0    0.0       0.0  ...           False          False           False
1        0.0    0.0       0.0  ...           False          False           False
2        0.0    0.0       0.0  ...           False          False           False
3        0.0    0.0       0.0  ...           False          False           False
4        0.0    0.0       0.0  ...           False          False           False

[5 rows x 10 columns]

Build a loop to add your heuristic model guesses as a column to this dataframe

In [4]:
# here is an example loop that populates the dataframe created earlier
# with the total percip from yesterday and today
# then the guess is set to true if rained both yesterday and today 

for _ in range(numrows):
    
    # start at time 2 in the data frame
    i = _ + 2
    
    # pull values from the dataframe
    yesterday = df.iloc[(i - 2), 1]
    today = df.iloc[(i - 1), 1]
    tomorrow = df.iloc[i, 1]
    rain_tomorrow = df.iloc[(i), 1]
    
    heuristic_df.iat[_, 0] = yesterday
    heuristic_df.iat[_, 1] = today
    heuristic_df.iat[_, 2] = tomorrow
    heuristic_df.iat[_, 3] = False # set guess default to False
    heuristic_df.iat[_, 4] = rain_tomorrow
    
    # example hueristic
    if today > 0.0 and yesterday > 0.0:
        heuristic_df.iat[_, 3] = True
        
    if heuristic_df.iat[_, 3] == heuristic_df.iat[_, 4]:
        heuristic_df.iat[_, 5] = True
        
        if heuristic_df.iat[_, 3] == True:
            heuristic_df.iat[_, 6] = True  # true positive
        else:
            heuristic_df.iat[_, 8] = True  # true negative
        
    else:
        heuristic_df.iat[_, 5] = False
        
        if heuristic_df.iat[_, 3] == True:
            heuristic_df.iat[_, 7] = True  # false positive
        else:
            heuristic_df.iat[_, 9] = True  # false negative

In [5]:
heuristic_df

       yesterday  today  ...  true_negative  false_negative
0           0.47   0.59  ...          False           False
1           0.59   0.42  ...          False           False
2           0.42   0.31  ...          False           False
3           0.31   0.17  ...          False           False
4           0.17   0.44  ...          False           False
...          ...    ...  ...            ...             ...
25544       0.00   0.00  ...           True           False
25545       0.00   0.00  ...           True           False
25546       0.00   0.00  ...           True           False
25547       0.00   0.00  ...           True           False
25548       0.00   0.00  ...           True           False

[25549 rows x 10 columns]

In [6]:
df

             DATE  PRCP  TMAX  TMIN   RAIN
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
...           ...   ...   ...   ...    ...
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25551 rows x 5 columns]

### Evaluate the performance of the Heuristic model

***split data into training and testing***

In [7]:
from sklearn.model_selection import train_test_split 

# enter split function here to make h_train and h_test subsets of the data
X_train, X_test, y_train, y_test = train_test_split(df, df['RAIN'], test_size=0.3)

X_train

             DATE  PRCP  TMAX  TMIN   RAIN
1097   1951-01-02  0.98    46    39   True
15078  1989-04-13  0.00    72    44  False
6868   1966-10-21  0.36    46    39   True
7041   1967-04-12  0.13    49    41   True
23524  2012-05-28  0.00    62    50  False
...           ...   ...   ...   ...    ...
3243   1956-11-17  0.00    47    36  False
24619  2015-05-28  0.00    82    54  False
7238   1967-10-26  0.00    53    41  False
21586  2007-02-06  0.03    48    41   True
12684  1982-09-23  0.00    76    55  False

[17885 rows x 5 columns]

In [8]:
X_test

             DATE  PRCP  TMAX  TMIN   RAIN
5743   1963-09-22  0.05    66    56   True
8208   1970-06-22  0.00    80    55  False
8601   1971-07-20  0.00    88    63  False
6836   1966-09-19  0.00    67    47  False
23499  2012-05-03  0.73    52    45   True
...           ...   ...   ...   ...    ...
4130   1959-04-23  0.00    52    44  False
4177   1959-06-09  0.02    59    47   True
15187  1989-07-31  0.00    68    56  False
16778  1993-12-08  0.52    52    41   True
25481  2017-10-06  0.01    66    46   True

[7666 rows x 5 columns]

***the accuracy of your predicitions***

In [9]:
# we used this simple approach in the first part to see what percent of the time we where correct 
# calculated as (true positive + true negative)/ number of guesses
heuristic_df['correct'].value_counts()/numrows

True     0.671611
False    0.328389
Name: correct, dtype: float64

***the precision of your predicitions***

In [10]:
# precision is the percent of your postive prediction which are correct
# more specifically it is calculated (num true positive)/(num tru positive + num false positive)

heuristic_df['true_positive'].sum() / (heuristic_df['true_positive'].sum() + heuristic_df['false_positive'].sum())

0.674109000138677

***the recall of your predicitions***

In [11]:
# recall the percent of the time you are correct when you predict positive
# more specifically it is calculated (num true positive)/(num tru positive + num false negative)

heuristic_df['true_positive'].sum() / (heuristic_df['true_positive'].sum() + heuristic_df['false_negative'].sum())

0.44592239244106047

***The sum of squared error (SSE) of your predictions***

In [12]:
import numpy as np

def sse(y_true, y_pred):
    '''returns sum of squared errors (actual vs model)'''
    squared_errors = (y_true - y_pred) ** 2
    return np.sum(squared_errors)


sse(y_true=heuristic_df['rain_tomorrow'].astype('int'), y_pred=heuristic_df['guess'].astype('int'))

8390

In [16]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_true=heuristic_df['rain_tomorrow'].astype('int'), y_pred=heuristic_df['guess'].astype('int'))

0.3283885866374418