<a href="https://colab.research.google.com/github/ZiyadAlmatrafi/Data-science/blob/master/Python/sec3/assignment_in_the_chapter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print the numbers between 1 and 100

In [1]:
for i in range(100):
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

print the numbers between 1 and 100 divisible by 8

In [2]:
for i in range(100):
    if((i+1)%8 == 0):
        print(i+1)
    else:
        next

8
16
24
32
40
48
56
64
72
80
88
96

Use a while loop to find the first 20 numbers divisible by 5

In [3]:
start = 1
count = 0
while count<20:
    if (start%5==0):
        print(start)
        count+=1
    start +=1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

simple_adding_function(3,4)
Create a function that evaluates if a number is prime (you can not use a list of known primes). Only allow values between 0 and 100.

In [5]:

def prime(a):
    for i in range(2,a):
        if((a%(i) == 0)&(a!=(i))):
            return(a," is not Prime")
    return(a," is a prime number")
prime(13)

(13, ' is a prime number')